<h1>Products</h1>

<%= form_tag products_path, method: :GET, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<div id="products">
  <ul>
    <% if @products.any? %>
      <%= render @products%>
    <% end %>
  </ul>
</div>

<hr>



<button>
  <%= link_to 'Add new product', new_product_url %>
</button>
