<h1>Products</h1>

<ul>
  <% if @products.any? %>
    <% @products.each do |product| %>
      <li>
        <p><%= link_to "#{product.name}", product_path(product) %>, $<%= product.formatted_price %><%= if product.reviews.any?
          ", Reviews: (#{product.reviews.count})" end %><p>
        <p>"<%= product.description[0..30] %>..."</p>
      </li>
    <% end %>
  <% end %>
</ul>

<button>
  <%= link_to 'Add new product', new_product_url %>
</button>