<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <header>
    <nav class="main">
      <ul>
        <%= render 'layouts/mainmenu' %>
      </ul>
      <% if current_user %>
        <p class="userinfo">
        Hello, <%= link_to "#{current_user.name}", user_path(current_user) %> | <%= link_to "Edit Profile", edit_user_path(current_user) %> | <%= link_to "Logout", session_path("current"), :method => :delete %>
        </p>
      <% else %>
        <p class="userinfo">
        <%= link_to "Login", new_session_path %> or <%= link_to "Sign Up", new_user_path %>
        </p>
      <% end %>
    </nav>
  </header>

    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

  <%= yield %>


  </body>
</html>
